.wrapper-slider {
    padding: 0 38px 60px 38px;
}

.slider-header {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px 10px;
    min-height: 75px;
}

.slider-nav.mobile-only {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.slider-title {
    text-align: center; /* десктоп по центру */
    font-size: 24px;
    font-weight: 600;
}

.slider-nav {
    display: flex;
    align-items: center;
    gap: 8px;
}

.slider-nav .custom-prev,
.slider-nav .custom-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    border: none;
}

.slider-nav .custom-prev {
    margin-right: 12px;
}

.slider-nav .custom-prev:hover,
.slider-nav .custom-next:hover {
    background: #e0e0e0;
}

/* Показуємо тільки на мобайлі */
.mobile-only {
    display: none;
}

.slider-title {
    font-size: 40px;
    font-weight: 700;
}

@media (max-width: 1024px) {
    .mobile-only {
        display: flex;
    }

    .slider-title {
        text-align: left;
        font-size: 32px;
        font-weight: 700;
    }
}

@media (max-width: 393px) {
    .wrapper-slider {
        padding: 0;
        margin-top: 10px;
    }

    .slider-header {
        justify-content: space-between;
    }
}

/* Зменшуємо зазор між слайдами для великих екранів */
.slider-instagram .swiper-slide {
    margin-right: 10px;
}
