.video-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 9 / 16; /* або 16/9 якщо горизонтальне відео */
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main_banner_video-promo {
    display: block;
    height: 712px;
}

.product-video-promo {
    display: block;
    width: 500px;
    height: 712px;
}

.video-wrapper video {
    height: 100%;
}

.iframe-without-pause {
    margin-top: 50px;
}

.video-facade {
    position: relative;
    cursor: pointer;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    aspect-ratio: 9 / 16;
}

.video-facade:hover {
    transform: scale(1.02);
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
    /* Чтобы клик проходил на родительский div */
    transition: opacity 0.3s ease; /* Add transition for smooth fade */
}

@media (max-width: 822px) {
    .main_banner_video-promo {
        display: block;
        height: 567px;
    }
}

/* Desktop-only hover effect */
@media (min-width: 1025px) {
    .video-facade:hover .play-button {
        opacity: 1; /* Show on hover */
    }
        .video-facade:not(.inactive-video) .play-button {
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .video-facade:not(.inactive-video):hover .play-button {
        opacity: 1;
    }
}
