.video-wrapper {
    position: relative;
    height: 100%;
}

.video-wrapper video {
    height: 100%;
}

.iframe-without-pause {
    margin-top: 50px;
}

.video-facade {
    position: relative;
    cursor: pointer;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    aspect-ratio: 9 / 16;
}

.video-facade:hover {
    transform: scale(1.02);
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
    /* Чтобы клик проходил на родительский div */
    transition: opacity 0.3s ease; /* Add transition for smooth fade */
}

.video-facade.inactive-video .play-button {
    opacity: 0 !important;
}

/* Desktop-only hover effect */
@media (min-width: 1025px) {
    .play-button {
        opacity: 0; /* Hide by default on desktop */
    }

    .video-facade:hover .play-button {
        opacity: 1; /* Show on hover */
    }
        .video-facade:not(.inactive-video) .play-button {
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .video-facade:not(.inactive-video):hover .play-button {
        opacity: 1;
    }
}
