.banner-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
  padding: 40px;
}

.banner-wrapper > * {
  flex: 1 1 50%;
  max-width: calc(50% - 10px);
}

.padding-top-bottom {
  padding: 20px 0;
}

/* Адаптив для мобільних */
@media (max-width: 768px) {
  .banner-wrapper {
    flex-direction: column;
    padding: 20px;
  }

  .banner-wrapper > * {
    flex: 1 1 100%;
    max-width: 100%;
  }

  /* Міняємо порядок — банер перший */
  .banner-wrapper > :nth-child(1) {
    order: 1; /* BannerWithText */
  }

  .banner-wrapper > :nth-child(2) {
    order: 2; /* ProductsSlider */
  }

  .home-product-wrapper {
    padding: 20px;
  }
}
